.mainlayout{
    min-height: 100vh;
    display: flex; 
    flex-direction: column;
}

.maincontent{
    color:white;
    background:var(--color-primary);
    flex:1;
    display: flex;           /* Biến chính nó thành Flexbox để quản lý con (.container) */
    flex-direction: column;  /* Xếp các phần tử con theo chiều dọc */
    align-items: stretch;    /* Ép con (.container) phải phình hết chiều ngang */
    min-height: 0;
}
